html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  position: relative;
  line-height: 1;
  background-color: #fff;
  color: #000; }


.home__module:last-child {
    border-bottom: none;
}
.home .home__leaders, .home .home__leaders--season {
    padding: 50px 45px 50px 25px;
    border-bottom: none;
    border-top: 1px solid #eaeaea;
    margin-top: -1px;
}

.home__module {
    border-bottom: 1px solid #eaeaea;
}
.home .home__leaders-header {
    position: relative;
}
.home__module-header {
    margin-bottom: 20px;
}

.home__module-header .header-title {
    float: left;
}
.home__module-header .header-title {
    margin: 0;
}
h1 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #061d2c;
}
.home .home__leaders-header__switch {
    display: inline-block;
    margin-left: 50px;
    line-height: 2.1875rem;
}
.row {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}
.home .home__leaders-category:nth-child(3n+1) {
    clear: both;
}
.home .home__leaders-category {
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 30px;
  width: 33.33333%;
}

.large-4 {
    width: 33.33333%;
}
.column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
}
.column, .columns {
    width: 100%;
    float: left;
    padding-left: .625rem;
    padding-right: .625rem;
}
.home .home__leaders-category .category-header {
    border-bottom: 1px solid #63737b;
    margin-bottom: 10px;
}
.home .home__leaders-category .category-header__name {
    color: #006bb6;
    font-weight: bold;
    float: left;
}
